@use '../custom' as *;
@use '../components/mixins' as *;
.display-2 {
    margin-bottom: 1rem;
    text-transform: capitalize;
    font-family: 'Lora', serif;
    animation: intro-fade 1s linear 0s 1 normal both;
    &--intro {
        display: block;
        font-weight: 600;
        font-family: 'Lora', serif;
        @include media-breakpoint-up(lg) {
            font-size: 7rem;
        }
    }
    &--description {
        font-size: .9rem;
        display: block;
        margin-top: 1.2rem;
        text-transform: none;
        @include media-breakpoint-up(lg) {
            font-size: 1.5rem;
            display: inline-block;
        }
    }
}

@keyframes intro-fade {
    0% {
        opacity: 0;
        transform: scale(0.6);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

// DISPLAY 3 
.display-3 {
    font-family: 'Libre Franklin', sans-serif;
    &--title {
        font-size: 1.2rem;
        text-transform: capitalize;
        font-weight: 600;
        font-family: 'Libre Franklin', sans-serif;
        display: inline-block;
        background-image: linear-gradient(to right, $primary, $secondary);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        @include media-breakpoint-up(lg) {
            font-size: 1.8rem;
        }
    }
}

//border right
.border-right {
    border-right: 0.1rem solid $gray-300;
    height: 100%;
}

//gradient bg
.gradient {
    background: linear-gradient(to right, rgba($primary, 0.95), rgba($secondary, 0.95));
}